 body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #9aa3b1;
        }

        /* Header */
        .header {
            background: #6f78b3;
            padding: 14px 28px;
            font-size: 22px;
            font-weight: bold;
        }

        /* Container tengah */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        /* Card register */
        .card {
            background: #a7b4c5;
            padding: 40px;
            width: 380px;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        /* Judul */
        .title {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        /* Label */
        label {
            display: block;
            margin-bottom: 6px;
            font-size: 12px;
        }

        /* Input */
        input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 11px;
        }

        /* Tombol */
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background: #6f78b3;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }

        /* Login text */
        .login-text {
            text-align: center;
            font-size: 11px;
            margin-top: 8px;
        }

        .login-text a {
            color: blue;
            text-decoration: none;
        }
